@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
    color: white;
}

#hero {
    height: 100vh;
    width: 100%;
    background-image: url("./src/background.jpg");
    background-size: cover;
}

.logo a {
    text-decoration: none;
    color: white;
}

#hero .container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero .container .profile img {
    border: 2px solid #9be3fd;
    border-radius: 50%;
    width: 240px;
    box-shadow: 0px 0px 72px 12px rgba(155,227,253,0.25);
    transition: all 0.5s ease-out;
}

#hero .container .profile img:hover {
    box-shadow: 0px 0px 72px 12px rgba(155,227,253,0.5);
}

#hero .text {
    padding-top: 24px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#hero .container .scroll {
    position: absolute;
    bottom: 12px;
}

/* About */
#about {
    height: 100vh;
    width: 100%;
    background-color: rgb(4, 15, 36);
}

.left-menu {
    background-color: #ffffff;
    position: fixed;
    width: 48px;
    height: 48px;
    top: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.97);
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3;
}

nav .nav-menu {
    display: flex;
    padding-right: 32px;
    gap: 24px;
    list-style: none;
}

nav .logo {
    padding-left: 32px;
}

nav .nav-menu .nav-link a{
    color: white;
    text-decoration: none;
}

#about .container {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 32px;
}

#about .container .left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#about .container .left img {
    width: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 72px 12px rgba(155,227,253,0.25);
    transition: all 0.5s ease-out;
}

#about .container .left img:hover{
    box-shadow: 0px 0px 72px 12px rgba(155,227,253,0.5);
}

#about .container .right {
    display: flex;
    justify-content: center;
    width: 50%;
    color: white;
    flex-direction: column;
}

#about .container .right .text{
    width: 75%;
}

#about .container .right .skills{
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}


#skill {
    height: 75vh;
    width: 100%;
    background-color: white;
}

progress {
    text-align: center;
    color: #ffffff;
    height: 32px;
    accent-color: rgb(155, 227, 253);
    width: 450px;
    font-weight: bold;
    padding: 3px 0px;
}

progress:after {
    font-size: 12px;
    content: attr(value)'%';
}

#resume {
    padding-top: 60px;
    height: 150vh;
    width: 100%;
    background-color: rgb(4, 15, 36);
}

#resume .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 80px;
}

#resume .container .left {
    display: flex;
    flex-direction: column;
    padding-left: 240px;
    width: 45%;
}

#resume .container .left h1 {
    text-align: center;
}

#resume .container .left h4 {
    background-color: #000000;
    color: white;
    padding: 0px 24px;

}

#resume .container .left p {
    background-color: white;
    padding: 0px 24px;
    color: black;
}

#resume .container .left b {
    color: black;
}

#resume .container .right {
    display: flex;
    flex-direction: column;
    padding-right: 240px;
    width: 45%;
}

#resume .container .left .timeline{
    padding-left: 36px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 32px;
    list-style: none;
}

#resume .container .left .timeline::before{
    content: "";
    background-color: rgb(255, 255, 255);
    display: inline-block;
    position: absolute;
    left: 240px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

#resume .container .right h1 {
    text-align: center;
}

#resume .container .right h4 {
    background-color: #000000;
    color: white;
    padding: 0px 24px;
}

#resume .container .right p {
    background-color: white;
    color: black;
    padding: 0px 24px;
}

#resume .container .right b {
    color: black;
}

#resume .container .right .timeline{
    padding-left: 36px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 32px;
    list-style: none;
}

#resume .container .right .timeline::before{
    content: "";
    background-color: rgb(255, 255, 255);
    display: inline-block;
    position: absolute;
    left: 665px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

#resume .timeline li::before {
    content: '';
    background-color: #000000;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #ffffff;
    width: 20px;
    height: 20px;
    left: 228px;
    z-index: 1;
}

#services {
    height: 75vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(4, 15, 36);
}

#services .cards {
    padding-top: 60px;
    display: flex;
    justify-content: space-evenly;
    gap: 52px;
}

#services .card {
    border-radius: 0 25px 0 25px;
    width: 240px;
    height: 120px;
    background-color: rgb(216, 216, 216);
    transition: all 0.3s ease-in-out;
}

#services .card:hover {
    border-radius: 25px 0 25px 0;
    width: 240px;
    height: 120px;
    background-color: rgb(43, 43, 43);
    color: white;
}

#contact {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(./src/a.jpg);
    overflow: hidden;
    background-size: cover;
    color: white;
    height: 70vh;
    width: 100%;
}

#contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact a{
    text-decoration: none;
    color: white;
}

#contact .title {
    padding-top: 50px;
    text-align: center;
}

#contact .desc {
    padding-top: 12px;
    text-align: center;
}

#contact .contacts {
    display: flex;
    padding-top: 56px;
    gap: 120px;
}

#contact .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#contact .button-container {
    display: flex;
    gap: 24px;
    padding-top: 48px;
}

#contact .button-container button {
    border-radius: 24px;
    padding: 8px 24px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

footer {
    background-color: black;
    padding: 12px 0;
    color: white;
    text-align: center;
}

@media only screen and (max-width:600px) {
    #about .container {
        flex-direction: column;
        padding-top: 75px;
    }

    #about .container .left {
        padding-bottom: 48px;
        width: 100%;;
    }

    #about .container .right {
        text-align: center;
        width: 100%;
        align-items: center;
    }

    #about .container .right progress {
        width: 250px;
    }

    #about .container .right .skills {
        padding-top: 48px;
    }

    #resume {
        height: 120vh;
    }

    #resume .timeline {
        width: 50vh;
    }

    #resume .container {
        flex-direction: column;
        justify-content: center;
    }

}